strong {
    cursor: pointer;
}

.post {
    width: 588px;
    border: 1px solid grey;
    border-radius: 8px;
       margin-top: 32px;
}

.post-top {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    justify-content: space-between;
}

.post-top-left {
    display: flex;
    align-items: center;
}

.post-user-icon, .post-username, .three-dots {
    cursor: pointer;
}

.post-user-icon {
    display: flex;
    align-items: center;
}

.post-username {
    margin-left: 8px;
    font-weight: 900;
}

.post-image {
    width: 100%;
    height: 786px;
}

.post-image > img {
    width: 100%;
    height: 100%;
   object-fit: cover;
}

.post-text-area {
    padding: 8px 16px;
}

.response-menu {
    display: flex;
    justify-content: space-between;
}

.resp-menu-left {
    display: flex;
    gap: 8px;
}

.resp-menu-left > button, .resp-menu-right > button {
    font-size: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.resp-menu-left > button:hover, .resp-menu-right > button:hover {
    color: #606060;
}

.post-text-area-2 {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.liked-caption {
    font-size: 14px;
    margin-left: 4px;
}

.post-description {
    font-size: 14px;
}

.add-comment {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    padding: 8px 16px;
}

.add-comment-left {
    display: flex;
    align-items: center;
}

.add-comment-icon > i {
font-size: 20px;
display: flex;
align-items: center;
}

.add-comment-input > input {
    padding: 4px 8px;
    border: none;
}