.stories {
    border: 1px solid grey;
    border-radius: 8px;
}

.horizontal-scroll {
    position: relative;
    display: flex;
    align-items: center;
    width: 560px;
}

.slider {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
}